
 body{
    background-color: aqua;
    border: 1px black;
    min-width: 1100;
    min-width: 700;
  
}
.panel{
   
}
.navi{
    display: flex;
    justify-content: space-between; 
    border: 1px black;
    text-decoration-color: aliceblue;
    background-color: blue;
    width: 1100px;
    height: 60px;
    text-align: left;
}
  

div{
    display: flex;
    justify-content: space-between;
     
    border: 1px black;
    position: relative;
   }
.one{     
    border: 2px black;    
    width: 1100px;
    height: 260px;
    background-color: blueviolet

}
.two{
    border: 2px black;    
    width: 1100px;
    height: 260px;
    background-color: blueviolet


}
.three{
    border: 2px black;    
    width: 1100px;
    height: 260px;
    background-color: blueviolet

}
.four{
    border: 2px black;    
    width: 1100px;
    height: 260px;
    background-color: blueviolet

}
