*{
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", serif;
  max-width: 1000px;
  min-width: 700;
  margin: auto;
}

.title {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 78px;
  letter-spacing: 0.1em;
  margin-top: 15px;
}

.title-blue {
  color: #3e45e8;
}

.title-yellow {
  color: #e8c23e;
}

.text-img-box {
  background-image: url(../imag/1444411287_oboyi-na-robochiy-stl-ukrayina-8\ 1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 53vw;
  min-height: 400px;
  max-height: 537px;
}

.flag {
  position: relative;
  width: 2%;
  height: 40%;
  left: 5%;
  top: 28%;
}

.flag-blue {
  background: linear-gradient(180deg, #00e0ff 15%, #1400ff 100%);
}

.flag-yellow {
  background: linear-gradient(180deg, #ffa800 15%, #fff500 100%);
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 37%;
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: 500;
  position: relative;
  left: 10%;
  top: -50px;
}

.sub-title {
  margin-top: 55px;
  margin-bottom: 15px;
  width: calc(100% - 85px);
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: 3px;
  position: relative;
  left: 170px;
}

.flag-horizon {
  height: 12px;
  width: 78.5%;
  font-size: 0;
}

.flag-horizon-blue {
  background: linear-gradient(90deg, #00e0ff 15%, #1400ff 100%);
}

.flag-horizon-yellow {
  background: linear-gradient(90deg, #ffa800 15%, #fff500 100%);
}

.chois-places {
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.selekted>div {
  width: 280px;
  height: 350px;
  border: 1px solid black;
  border-radius: 35px;
  display: inline-block;
  margin: 20px;
  box-shadow: 2px 2px 15px;
  overflow: hidden;
}

.selekted1 {
  text-align: center;
  padding-bottom: 110px;
  width: 10px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.selekted1>img {
  max-height: 250px;
}

.text1 {
  color: #0072db;
}

.map-box {
  width: 100%;

  margin-left: auto;
  margin-right: auto;
}

.blue-line {
  margin-right: auto;
  margin-left: auto;
  height: 7px;
  width: 60%;
  margin-bottom: 40px;
  background-color: #1400ff;
  position: relative;
  left: -4%;
}
  .button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    font-family: "Roboto Slab", serif;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3px;
    color: white;
    background-color: #2a61f0;
  }
  .button-link:hover {
    background-color: #003d83;
  }
  
  .button-link:active {
    background-color: #337bce;
  }
  footer {
    margin:auto auto;
    text-align: center;
    background: linear-gradient(180deg, #013235 15%, #0d0661 100%);
    padding-bottom: 20px;
  }
  .footer-link {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Marcellus SC", serif;
    font-size: 26px;
    color: #a89d9d;
    padding-top: 5px;
  }
  
  .social-links > li {
    display: inline-block;
  }
  
 