

body {
    font-family: "Roboto", sans-serif font-weight 700;
    max-width: 1000px;
}
.heder {
    text-align: center;
    text-transform: capitalize;
    font-size: 48px;
}
.heder-blue {
    color: #3e45e8;
}
.heder-yllow {
    color: #e8c23e;
}
.background {
    width: content;
}
.STRONG {
    text-align: center;
    font-size: 48px;
}

.selekted > div {
    width: 250px;
    height: 300px;
    border: 1px solid black;
    border-radius: 35px;
    display: inline-block;
    margin: 20px;
    box-shadow: 2px 2px 15px;
    overflow: hidden;
}
.selekted1 {
    text-align: center;
    padding-bottom: 110px;
    width: 10px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.selekted1 > img {
    max-height: 200px;
}
.text1 {
    color: #0072db;
}
.title {
    color: black;
    text-align: center;
    font-size: 30px;
    border-bottom: 9px solid blue;
}
